body {
  margin: 0;
  font-family: "Raleway";
}

#lapin {
  margin-right: 25%;
}

#txtsection,
p {
  margin-left: 22%;
}

#friandise {
  margin-left: 25%;
  margin-top: 50px;
}

#proddesc {
  width: 50%;
}

.slideCustomWidth {
  width: 25%;
}

#avantages {
  height: 400px;
}

.bgNightBlue {
  background-color: rgba(6, 17, 35, 1);
}
.boxShadow {
  box-shadow: 0px -5px 20px 3px black;
}

@media only all and (max-width: 576px) {
  .slideCustomWidth {
    width: 100%;
  }
}
